<table class="table datatable-basic">
  <thead>
    <tr>
      <% columns.each do |c| %>
        <th><%= c.to_s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% datasource.each do |object| %>
    <tr>
      <% columns.each do |c| %>
      <td><%= object[c.to_s] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>