<% content_for :header do %>
<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Tr치mites</span> - Ver Tr치mite</h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="form_inputs_basic.html">Tramites</a></li>
					<li class="active">Ver Tr치mite</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /page header -->
<% end %>

<div class="row">
	<div class="col-md-8">
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h5 class="panel-title">Tr치mite #<%= @tramite.id %></h5>
	    <div class="heading-elements">
	    	<div class="heading-elements">
				<a href="#" class="btn bg-success-700 btn-sm btn-labeled btn-labeled-right heading-btn">Ocupar <b><i class="icon-unlocked2"></i></b></a>
        	</div>
	    </div>
	  </div>
	  <div class="panel-body">
	  	<div class="grid-demo">
	  	<div class="row show-grid">
	  		<div class="col-md-4">
		  	<div>
		  		<strong>Sector:</strong> <%= @tramite.sector.sector %>
		  	</div>	
		  	</div>	
		  	<div class="col-md-4">
		  	<div>
		  		<strong>Motivo:</strong> <%= @tramite.motivo.motivo %>
		  	</div>
		  	</div>
		  	<div class="col-md-4">
		  	<div>
		  		<strong>Fecha:</strong> <%= l(@tramite.created_at, format: '%d de %B de %Y') %>
		  	</div>
		  	</div>
	  	</div>
	  	</div>
	  </div>
	</div>
	</div>
</div><!-- col-lg-12--> 