<h3><i class="fa fa-angle-right"></i> Tramites</h3>

<div class="col-md-12 mt">
	<div class="content-panel">
      <%= @tabla.to_html %>
	</div><!--/content-panel -->
</div><!-- /col-md-12 -->
</div><!-- row -->