<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">Listado</h5>
    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
        <li><a data-action="reload"></a></li>
        <li><a data-action="close"></a></li>
      </ul>
    </div>
  </div>
  <%= @tabla.to_html %>
</div>
</div>
</div>