<div class="row">
	<div class="col-md-8">
	<div class="panel panel-flat">
	  <div class="panel-heading">
	    <h5 class="panel-title">Nueva Consulta</h5>
	    <div class="heading-elements">
	      <ul class="icons-list">
	        <li><a data-action="collapse"></a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="panel-body">
	  	<%= render partial: "form" %>
	  </div>
	</div>
	</div>
</div><!-- col-lg-12-->  