<% content_for :header do %>
<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Consultas</span> - Nueva Consulta</h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="<%= root_url %>">Inicio</a></li>
					<li><a href="<%= consultas_path %>">Consultas</a></li>
					<li class="active">Nueva Consulta</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /page header -->
<% end %>

<div class="row">
	<div class="col-md-8">
	<div class="panel panel-flat">
	  <div class="panel-heading">
	    <h5 class="panel-title">Nueva Consulta</h5>
	    <div class="heading-elements">
	      <ul class="icons-list">
	        <li><a data-action="collapse"></a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="panel-body">
	  	<%= render partial: "form" %>
	  </div>
	</div>
	</div>
</div><!-- col-lg-12-->  